<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Teams</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>

<div th:if="${message}" class="alert" style="margin-top: 1px">
    <p th:text="${message}"></p>
</div>

<h1>Football Teams</h1>

<div class="team-list">
    <!-- Блок команди -->
    <div th:each="team : ${teams}" class="team-block" th:data-id="${team.id}">
        <!-- Не робимо блок клікабельним -->
        <div class="team-block-link">
            <h3 th:text="${team.name}"></h3>
            <p><strong>Money:</strong> <span th:text="${team.money}"></span></p>
            <p><strong>Transfer commission:</strong> <span th:text="${team.percent}"></span></p>
        </div>

        <!-- Кнопки для видалення, оновлення та деталей -->
        <div class="team-actions">
            <!-- Кнопка для видалення -->
            <button th:onclick="|window.location.href='/team/delete/${team.id}'|" class="delete-button" title="Delete Team">Delete</button>
            <!-- Кнопка для оновлення -->
            <button th:onclick="|window.location.href='/team/update/${team.id}'|" class="update-button" title="Update Team">Update</button>
            <!-- Кнопка для деталей -->
            <button th:onclick="|window.location.href='/team/${team.id}'|" class="details-button" title="View Details">Details</button>
        </div>
    </div>
</div>

<div class="button-container">
    <button class="btn cyan-button" onclick="window.location.href='/team/new'">Add Team</button>
    <button class="btn green-button" onclick="window.location.href='/player/free-agents'">Free Agents</button>
    <button class="btn orange-button" onclick="window.location.href='/player/new'">Add Player</button>
</div>

</body>
</html>
