<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players of Team</title>
    <link rel="stylesheet" href="/team-player.css">
</head>
<body>

<h1>Players of Team: <span th:text="${team.name}"></span></h1>

<div class="team-info">
    <p><strong>Money:</strong> <span th:text="${team.money}"></span></p>
    <p><strong>Win Percentage:</strong> <span th:text="${team.percent}"></span>%</p>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Position</th>
        <th>Experience (Months)</th>
        <th>Actions</th> <!-- Колонка для кнопок -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${players}">
        <td th:text="${player.id}"></td>
        <td th:text="${player.name}"></td>
        <td th:text="${player.age}"></td>
        <td th:text="${player.position}"></td>
        <td th:text="${player.monthExperience}"></td>
        <td>
            <!-- Кнопки для дій з гравцем -->
            <a th:href="@{/player/delete/{id}(id=${player.id})}" class="btn">Delete</a>
            <a th:href="@{/player/release/{id}(id=${player.id})}" class="btn">Release</a>
            <!-- Кнопка для переходу на сторінку продажу гравця -->
            <a th:href="@{/player/sell/{id}(id=${player.id})}" class="btn">Sell</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
